<section class="index-page">
  <p class="success">
    You have been successfully logged in!
  </p>

  <img class="avatar">
  
  <h2> Hello User! </h2>

  <a href='/user/auth.logout' class="placeholder">
    Click to log off
  </a>


</section>