<section class="index-page">
  <p class="success">
    You have been successfully logged in!
  </p>

  <img class="avatar" src={{avatar}}>
  
  <h2> Hello {{name}}! </h2>

  <a href='/user/auth.logout' class="placeholder">
    Click to log off
  </a>

<script>
  //console.log('test')
</script>


</section>